spring:
  datasource:
    url: jdbc:h2:mem:ecommerce-db
    driver-class-name: org.h2.Driver
    username: sa
    password: sa   # or leave empty
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
